<h1 class="animated fadeIn fast"><b>Super Heroes de los comics de DC y Marvel</b></h1>
<hr>
<p class="animated fadeIn">
  Historia de Marvel y DC Comics

  Ambas editoriales fueron creadas en la misma década, en un momento en el que Estados Unidos necesitaban de las figuras de héroes e historias fantásticas para escapar de la realidad de la gran depresión económica y de una guerra mundial.

  DC Comics (1934) nació bajo el nombre de National Allied Publications y comenzó su carrera de publicaciones con, nada más y nada menos que, Superman; posiblemente el héroe más famoso y conocido en el mundo.

  Por otro lado, 5 años después, Marvel (1939) surgió con el nombre de Timely Publications. Bajo el manto de la Segunda Guerra Mundial y dos años después de su fundación aparece el primer personaje aún reconocible de Marvel: Capitán América.

  Ambas casas pasaron por sus épocas difíciles y sus eras de oro. Llegando a amasar la gran cantidad de personajes famosos que conocemos hoy día. Lo que nos lleva al segundo punto.
  Personajes

  Calcular la cantidad de personajes para cada una de estas casas es prácticamente imposible. Al intentar hacerlo surgen preguntas como, ¿mismos personajes en diferentes universos paralelos se cuentan dos veces?, ¿contamos únicamente a personajes principales o a cualquier nombre registrado por la editorial?, ¿merecen los gemelos fantásticos ser considerados personajes serios?

  Se habla de que Marvel tiene una base de datos de más de 7.000 personajes, mientras que DC llegaría a contar más de 20.000. Pero como dicen por ahí, no es el tamaño, sino cómo los usas…

  ¿Cuáles de estos personajes son realmente famosos? Y más importante: ¿cuál de las dos editoriales tiene más personajes de este estilo?

  Podríamos discutir sobre como personajes de DC como Superman, La Mujer Maravilla, Flash y Aquaman tienen un feeling más clásico, o como héroes de Marvel como Hulk, Wolverine y Spiderman se sienten más modernos y arriesgados, pero el punto es que ambas casas cuentan con nombres realmente impresionantes.

  Quizás podríamos argumentar que los héroes de DC Comics fueron mucho más conocidos por mucho tiempo debido a dibujos animados como Los Súperamigos y que Marvel apenas ha ganado verdadera fuerza luego de las propuestas cinematográficas de los últimos años.

  Lo que nos lleva a…
  Expansión

  Consideramos expansión a la manera en que estos personajes e historias salieron de las páginas de los cómics para caer en televisión o cine. Aquí hay algo seguro. Por muchos años la punta de lanza fue DC, apareciendo en televisión con Batman (nunca te olvidaremos, Adam West) y Los Superamigos, luego saltando a la pantalla grande a finales de los años 70 con la trilogía de Superman, y justo 10 años después con la primera trilogía de Batman.

  Durante este mismo tiempo Marvel únicamente contaba con una serie televisada de Hulk (también te queremos, Lou Ferigno) y algunas películas de muy bajo presupuesto.

  La batuta fue entregada casi 20 años después cuando Los Hombres X saltaron a la pantalla grande seguido por el éxito de Spiderman, y finalmente por lo que hoy conocemos como el Universo Cinematográfico Marvel.

  Obviamente ambas casas han tenido desastres en taquilla, como por ejemplo Linterna Verde de DC y Daredevil de Marvel (ambas alimentando el odio de millones de geeks hacia Ryan Reinolds y Ben Affleck… Atención Deadpool y Batman).

  Hoy día, el universo cinematográfico tejido por Marvel es algo nunca antes visto en el cine, trasladándose a la televisión y de vuelta a los cómics. DC planea hacer lo mismo en los próximos años
</p>
